<div class="center-box">
    <button (click)=(setTable(0))>DEATH RATES</button>
    <button (click)=(setTable(1))>MARITAL COUNTS</button>
    <button (click)=(setTable(2))>COMPANY AVERAGE SALARY</button>
    <button (click)=(setTable(3))>AVERAGE SALARY PER POSITION</button>
</div>
<div class="center-box">
	<div *ngIf="table[0]" class="fade-in">
		<div *ngIf="deathRates !== undefined">
			<mat-card id="table-card" class="mat-elevation-z4 fix-bug-class" >
				<mat-card-header>
				<mat-card-title>Death Rates Per State</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<ngx-charts-bar-vertical
						[view]=[1500,750]
						[results]="deathRates"
						[gradient]="gradient"
						[xAxis]="showXAxis"
						[yAxis]="showYAxis"
						[legend]="showLegend"
						[showXAxisLabel]="showXAxisLabel"
						[showYAxisLabel]="showYAxisLabel"
						[xAxisLabel]="Graph1X"
						[yAxisLabel]="Graph1Y">
					</ngx-charts-bar-vertical>
				</mat-card-content>
			</mat-card>
		</div>
	</div>

	<div *ngIf="table[1]" class="fade-in">
		<div *ngIf="maritalCount !== undefined">
			<mat-card class="mat-elevation-z4 fix-bug-class" >
				<mat-card-header>
				<mat-card-title>Marital Counts Per State</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<ngx-charts-bar-vertical
						[view]=[1500,750]
						[results]="maritalCount"
						[gradient]="gradient"
						[xAxis]="showXAxis"
						[yAxis]="showYAxis"
						[legend]="showLegend"
						[showXAxisLabel]="showXAxisLabel"
						[showYAxisLabel]="showYAxisLabel"
						[xAxisLabel]="Graph2X"
						[yAxisLabel]="Graph2Y">
					</ngx-charts-bar-vertical>
				</mat-card-content>
			</mat-card>
		</div>
	</div>	
	
	<div *ngIf="table[2]" class="fade-in">
		<div *ngIf="companyAvgSalary !== undefined">
			<mat-card class="mat-elevation-z4 fix-bug-class" >
				<mat-card-header>
				<mat-card-title>Average Salary at Highest Valued Companies</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<ngx-charts-bar-vertical
						[view]=[1500,750]
						[results]="companyAvgSalary"
						[gradient]="gradient"
						[xAxis]="showXAxis"
						[yAxis]="showYAxis"
						[legend]="showLegend"
						[showXAxisLabel]="showXAxisLabel"
						[showYAxisLabel]="showYAxisLabel"
						[yScaleMin]= "160000"
						[xAxisLabel]="Graph3X"
						[yAxisLabel]="Graph3Y">
					</ngx-charts-bar-vertical>
				</mat-card-content>
			</mat-card>
		</div>
	</div>

	<div *ngIf="table[3]" class="fade-in">
		<div *ngIf="avgPositionSalaryFmt !== undefined">
			<mat-card class="mat-elevation-z4" >
				<mat-card-header>
				<mat-card-title>Position Salary Compared to Company's Net Worth</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<ngx-charts-line-chart
						[view]=[1500,750]
						[legend]=true
						[showXAxisLabel]="showXAxisLabel"
						[showYAxisLabel]="showYAxisLabel"
						[xAxis]="showXAxis"
						[yAxis]="showYAxis"
						[xAxisLabel]="Graph4X"
						[yAxisLabel]="Graph4Y"
						[timeline]="timeline"
						[results]="avgPositionSalaryFmt">
					</ngx-charts-line-chart>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>

